.nameDetails {
  font-size: large;
  font-style: italic;
}

.modulesWrapper {
  margin-top: 2rem;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-right: auto;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cards {
  margin-top: 2rem;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
