.nameDetails {
  font-size: large;
  font-style: italic;
}

.modulesWrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1250px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.title {
  margin-right: auto;
}

.searchBarWrapper,
.plusIconWrapper {
  display: flex;
  align-items: center;
}

.cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; /* centre horizontalement */
}
