.nameDetails {
  font-size: large;
  font-style: italic;
}

.modulesWrapper {
  margin-top: 2rem;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
}

.title {
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-right: auto;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.plusIconWrapper {
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 820px) {
  .modulesWrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .title {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  #searchBarWrapper,
  #plusIconWrapper {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .actionsWrapper {
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
  }
}
