/* layout.module.css */
.layout {
  height: 100vh; /* pleine hauteur sans débordement */
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar main';
  padding: 1rem; /* remplace les marges internes */
  box-sizing: border-box;
  gap: 1rem; /* espace entre sidebar et main */
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 12px;
  height: 100%; /* prend toute la hauteur disponible */
}

.main {
  grid-area: main;
  padding: 2rem;
  overflow-y: auto;
}
