.plusCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--blue-color);
  box-shadow: var(--shadow2);
}
