.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 1rem;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 1rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.menu a:hover {
  color: #0070f3;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* background-color: red; */
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}
